#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.gz-dtb
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

#
# Debian directory (make deb-pkg)
#
/debian/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# Reference kernel trees (not part of this kernel)
/android_kernel_lenovo_a6010/
/kernel_common/
/msm-4.19/

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.priv
signing_key.x509
x509.genkey

#
# Kernel build artifacts
#
/arch/*/boot/Image
/arch/*/boot/Image.gz
/arch/*/boot/zImage
/arch/*/boot/*.dtb
/arch/*/boot/*/*.dtb
*.lds
*.cpio
*.bc
include/generated/

#
# Generated source files from build
#
/security/selinux/flask.h
/security/selinux/av_permissions.h
/net/wireless/regdb.c
/kernel/timeconst.h
/kernel/hz.bc

# Generated build tools and binaries
/scripts/asn1_compiler
/scripts/kallsyms
/scripts/pnmtologo
/scripts/sortextable
/usr/gen_init_cpio
/scripts/dtc/dtc
/scripts/dtc/*.lex.c
/scripts/dtc/*.tab.c
/scripts/dtc/*.tab.h
/scripts/mod/devicetable-offsets.h
/scripts/mod/elfconfig.h
/scripts/mod/mk_elfconfig
/scripts/mod/modpost
/scripts/selinux/genheaders/genheaders
/scripts/selinux/mdp/mdp
/lib/gen_crc32table
/lib/raid6/mktables
/lib/raid6/int*.c
/lib/raid6/tables.c
/lib/crc32table.h
/lib/oid_registry_data.c
/drivers/video/logo/*.c
/crypto/asymmetric_keys/x509-asn1.c
/crypto/asymmetric_keys/x509-asn1.h
/crypto/asymmetric_keys/x509_rsakey-asn1.c
/crypto/asymmetric_keys/x509_rsakey-asn1.h

#
# building directory
#
/out/
